tmp/workflows-fix/fixed/Virtuagil - Jade - Assistente Virtual - FIXED.json
{
  "name": "Virtuagil - Jade - Assistente Virtual",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jade-assistente",
        "options": {}
      },
      "id": "webhook_in",
      "name": "Webhook Jade Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1900,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "payload",
              "value": "={{ $json.body?.payload ?? $json.body ?? $json }}",
              "type": "object"
            },
            {
              "name": "lead_name",
              "value": "={{ ($json.body?.payload?.pushName || $json.body?.pushName || $json.pushName || 'Cliente').toString().trim() }}",
              "type": "string"
            },
            {
              "name": "lead_phone",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const raw = String(d.from || d.remoteJid || d.phone || d.lead_phone || '').replace(/\\D/g, ''); if (!raw) return ''; return raw.startsWith('55') ? raw : `55${raw}`; })() }}",
              "type": "string"
            },
            {
              "name": "message_type",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const t = String(d.message_type || d.messageType || d.type || 'text').toLowerCase(); if (t.includes('video')) return 'video'; if (t.includes('image')) return 'image'; if (t.includes('audio') || t.includes('ptt')) return 'audio'; return 'text'; })() }}",
              "type": "string"
            },
            {
              "name": "text_message",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; return String(d.text || d.message || d.caption || d.body || '').trim(); })() }}",
              "type": "string"
            },
            {
              "name": "image_url",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; return d.image_url || d.imageUrl || d.media_url || d.mediaUrl || ''; })() }}",
              "type": "string"
            },
            {
              "name": "audio_transcript",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; return String(d.audio_transcript || d.audioTranscript || d.transcript || '').trim(); })() }}",
              "type": "string"
            },
            {
              "name": "incoming_text",
              "value": "={{ (() => { const a = $json.text_message || ''; const b = $json.audio_transcript || ''; const c = $json.image_url ? `imagem:${$json.image_url}` : ''; return [a,b,c].filter(Boolean).join(' | ') || '(mensagem sem conteudo textual)'; })() }}",
              "type": "string"
            },
            {
              "name": "is_group",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; const jid = String(d.from || d.remoteJid || ''); return jid.includes('@g.us') || Boolean(d.isGroup); })() }}",
              "type": "boolean"
            },
            {
              "name": "audio_base64",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; return String(d.audio_base64 || d.audioBase64 || d.base64 || '').trim(); })() }}",
              "type": "string"
            },
            {
              "name": "audio_mime",
              "value": "={{ (() => { const d = $json.body?.payload ?? $json.body ?? $json; return String(d.audio_mime || d.audioMime || d.mimetype || 'mp3').toLowerCase(); })() }}",
              "type": "string"
            },
            {
              "name": "is_audio",
              "value": "={{ $json.message_type === 'audio' }}",
              "type": "boolean"
            },
            {
              "name": "is_image",
              "value": "={{ $json.message_type === 'image' }}",
              "type": "boolean"
            },
            {
              "name": "is_text",
              "value": "={{ $json.message_type === 'text' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set_normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_video",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_video",
      "name": "IF Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1460,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "assistant_reply",
              "value": "={{ `Oi ${$json.lead_name}, eu te atendo por texto, imagem e audio, mas video ainda nao. Pode me enviar em texto, audio curto ou print?` }}",
              "type": "string"
            },
            {
              "name": "dynamic_delay_seconds",
              "value": "3",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set_video_reply",
      "name": "Set Video Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        -180
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.dynamic_delay_seconds || 3 }}",
        "unit": "seconds"
      },
      "id": "wait_video",
      "name": "Wait Video Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -980,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_BASE_URL || 'https://evolution.virtuagil.com.br') + '/message/sendText/' + ($env.EVOLUTION_INSTANCE || 'Virtuagil%20Atendimento') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Normalize Input').item.json.lead_phone, text: $json.assistant_reply } }}",
        "options": {}
      },
      "id": "send_video_reply",
      "name": "Send Video Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -740,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ `jade:buffer:${$json.lead_phone}` }}",
        "messageData": "={{ JSON.stringify({ text: $json.incoming_text, ts: $now.toISO(), type: $json.message_type }) }}",
        "tail": true
      },
      "id": "redis_push",
      "name": "Redis Buffer Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1220,
        260
      ]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "wait_buffer",
      "name": "Wait Buffer Window",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -980,
        260
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "buffer_messages",
        "key": "={{ `jade:buffer:${$('Normalize Input').item.json.lead_phone}` }}",
        "options": {}
      },
      "id": "redis_get",
      "name": "Redis Buffer Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -740,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const list = Array.isArray($json.buffer_messages) ? $json.buffer_messages : ($json.buffer_messages ? [$json.buffer_messages] : []);\nconst parsed = list.map((x) => { try { return typeof x === 'string' ? JSON.parse(x) : x; } catch { return { text: String(x || '') }; } });\nparsed.sort((a,b) => String(a.ts||'').localeCompare(String(b.ts||'')));\nconst merged = parsed.map((p) => p.text || '').filter(Boolean).join(' | ');\nreturn { merged_message: merged || $('Normalize Input').item.json.incoming_text, merged_count: parsed.length || 1 };"
      },
      "id": "code_merge",
      "name": "Merge Buffered Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        260
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ `jade:buffer:${$('Normalize Input').item.json.lead_phone}` }}"
      },
      "id": "redis_delete",
      "name": "Redis Buffer Delete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -260,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/clients?select=id,name,status,phone,adminPhone,alertPhone&or=' + encodeURIComponent('(phone.eq.' + $('Normalize Input').item.json.lead_phone + ',adminPhone.eq.' + $('Normalize Input').item.json.lead_phone + ',alertPhone.eq.' + $('Normalize Input').item.json.lead_phone + ')') + '&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_lookup_client",
      "name": "Supabase Lookup Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "client_match",
              "value": "={{ Array.isArray($json) && $json.length > 0 ? $json[0] : null }}",
              "type": "object"
            },
            {
              "name": "is_client",
              "value": "={{ Array.isArray($json) && $json.length > 0 }}",
              "type": "boolean"
            },
            {
              "name": "merged_message",
              "value": "={{ $('Merge Buffered Messages').item.json.merged_message }}",
              "type": "string"
            },
            {
              "name": "merged_count",
              "value": "={{ $('Merge Buffered Messages').item.json.merged_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set_context",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_contacts?on_conflict=lead_phone' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_phone: $('Normalize Input').item.json.lead_phone, lead_name: $('Normalize Input').item.json.lead_name, source: 'whatsapp', is_client: $json.is_client, client_id: $json.client_match?.id || null, last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "http_upsert_contact",
      "name": "Supabase Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_conversations?on_conflict=lead_phone' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_phone: $('Normalize Input').item.json.lead_phone, lead_name: $('Normalize Input').item.json.lead_name, is_client: $('Set Context').item.json.is_client, client_id: $('Set Context').item.json.client_match?.id || null, last_message_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "http_upsert_conv",
      "name": "Supabase Upsert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_conversations?select=id&lead_phone=eq.' + encodeURIComponent($('Normalize Input').item.json.lead_phone) + '&limit=1' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_get_conv",
      "name": "Supabase Get Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "conversation_id",
              "value": "={{ Array.isArray($json) && $json.length ? $json[0].id : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set_conv_id",
      "name": "Set Conversation Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_messages?select=role,content,created_at&conversation_id=eq.' + encodeURIComponent($json.conversation_id || '') + '&order=created_at.desc&limit=12' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_memory",
      "name": "Supabase Get Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.JADE_DOCS_GATEWAY_URL + '?topic=' + encodeURIComponent('catalogo') + '&q=' + encodeURIComponent($('Set Context').item.json.merged_message || '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.JADE_DOCS_GATEWAY_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http_docs",
      "name": "Get Doc Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.JADE_OPENAI_MODEL || 'gpt-4.1-mini', temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'Voce e o ORQUESTRADOR da Jade. Classifique para subagente: sales, followup, human_support. Retorne JSON estrito com route,intent,need_followup,need_handoff,reason.' }, { role: 'user', content: JSON.stringify({ lead_name: $('Normalize Input').item.json.lead_name, is_client: $('Set Context').item.json.is_client, message: $('Set Context').item.json.merged_message, memory: $('Supabase Get Memory').item.json, docs: $('Get Doc Context').item.json }) } ] } }}",
        "options": {}
      },
      "id": "openai_orchestrator",
      "name": "OpenAI Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let obj; try { obj = JSON.parse($json.choices?.[0]?.message?.content || '{}'); } catch { obj = {}; }\nreturn { route: obj.route || 'human_support', intent: obj.intent || 'indefinido', need_followup: !!obj.need_followup, need_handoff: !!obj.need_handoff, reason: obj.reason || '' };"
      },
      "id": "code_orch_parse",
      "name": "Parse Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "followup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch_route",
      "name": "Route SubAgent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2380,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.JADE_OPENAI_MODEL || 'gpt-4.1-mini', temperature: 0.4, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'SubAgent Jade Sales: responda em no maximo 3 frases, direto, sem inventar preco. Retorne JSON {reply,need_followup}.' }, { role: 'user', content: JSON.stringify({ lead_name: $('Normalize Input').item.json.lead_name, message: $('Set Context').item.json.merged_message, docs: $('Get Doc Context').item.json, intent: $('Parse Orchestrator').item.json.intent }) } ] } }}",
        "options": {}
      },
      "id": "subagent_sales",
      "name": "SubAgent Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.JADE_OPENAI_MODEL || 'gpt-4.1-mini', temperature: 0.4, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'SubAgent Jade FollowUp: responda em no maximo 3 frases visando avancar comercialmente. Retorne JSON {reply,need_followup}.' }, { role: 'user', content: JSON.stringify({ lead_name: $('Normalize Input').item.json.lead_name, message: $('Set Context').item.json.merged_message, docs: $('Get Doc Context').item.json, is_client: $('Set Context').item.json.is_client }) } ] } }}",
        "options": {}
      },
      "id": "subagent_follow",
      "name": "SubAgent FollowUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.JADE_OPENAI_MODEL || 'gpt-4.1-mini', temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'SubAgent Suporte Humano: resposta curta para handoff humano. JSON {reply,need_handoff}.' }, { role: 'user', content: JSON.stringify({ lead_name: $('Normalize Input').item.json.lead_name, message: $('Set Context').item.json.merged_message, reason: $('Parse Orchestrator').item.json.reason }) } ] } }}",
        "options": {}
      },
      "id": "subagent_human",
      "name": "SubAgent HumanSupport",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let obj = {}; try { obj = JSON.parse($json.choices?.[0]?.message?.content || '{}'); } catch {}\nconst reply = obj.reply || 'Oi, posso te ajudar com ambiental, energia ou acionamento. Qual voce quer agora?';\nconst need_followup = !!obj.need_followup || $('Parse Orchestrator').item.json.need_followup;\nconst need_handoff = !!obj.need_handoff || $('Parse Orchestrator').item.json.need_handoff;\nconst delay = Math.min(12, Math.max(2, Math.ceil(String(reply).length / 28)));\nreturn { assistant_reply: reply, need_followup, need_handoff, dynamic_delay_seconds: delay };"
      },
      "id": "code_finalize",
      "name": "Finalize Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.need_handoff }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_handoff",
      "name": "IF Need Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3140,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_human_handoff' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_phone: $('Normalize Input').item.json.lead_phone, lead_name: $('Normalize Input').item.json.lead_name, reason: $('Parse Orchestrator').item.json.reason || 'human_support', status: 'open', created_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "http_save_handoff",
      "name": "Supabase Save Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3380,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.need_followup }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_follow",
      "name": "IF Need FollowUp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3380,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_follow_up_queue' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_phone: $('Normalize Input').item.json.lead_phone, lead_name: $('Normalize Input').item.json.lead_name, is_client: $('Set Context').item.json.is_client, reason: $('Parse Orchestrator').item.json.reason || 'interesse_comercial', status: 'pending', next_contact_at: $now.plus({ hours: 24 }).toISO(), created_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "http_save_follow",
      "name": "Supabase Save FollowUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3620,
        320
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.dynamic_delay_seconds || 3 }}",
        "unit": "seconds"
      },
      "id": "wait_final",
      "name": "Wait Dynamic Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3620,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_BASE_URL || 'https://evolution.virtuagil.com.br') + '/message/sendText/' + ($env.EVOLUTION_INSTANCE || 'Virtuagil%20Atendimento') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Normalize Input').item.json.lead_phone, text: $json.assistant_reply } }}",
        "options": {}
      },
      "id": "send_final",
      "name": "Send WhatsApp Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3860,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { conversation_id: $('Set Conversation Id').item.json.conversation_id, lead_phone: $('Normalize Input').item.json.lead_phone, role: 'user', content: $('Set Context').item.json.merged_message, metadata: { merged_count: $('Set Context').item.json.merged_count, message_type: $('Normalize Input').item.json.message_type }, created_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "save_user_msg",
      "name": "Supabase Save User Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4100,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/jade_messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { conversation_id: $('Set Conversation Id').item.json.conversation_id, lead_phone: $('Normalize Input').item.json.lead_phone, role: 'assistant', content: $('Finalize Reply').item.json.assistant_reply, metadata: { route: $('Parse Orchestrator').item.json.route || 'human_support', intent: $('Parse Orchestrator').item.json.intent || 'indefinido' }, created_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "save_assistant_msg",
      "name": "Supabase Save Assistant Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4340,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_group_true",
              "leftValue": "={{ $json.is_group }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_group_message",
      "name": "IF Group Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1460,
        -20
      ]
    },
    {
      "parameters": {},
      "id": "noop_ignore_group",
      "name": "Ignore Group Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1220,
        -20
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "switch_message_type",
      "name": "Switch Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1260,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "audio_transcript_ok",
              "leftValue": "={{ $json.audio_transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_audio_transcript",
      "name": "IF Audio Transcript Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "incoming_text",
              "value": "={{ 'audio: ' + $json.audio_transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set_audio_text",
      "name": "Set Audio As Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "assistant_reply",
              "value": "={{ `Oi ${$json.lead_name}, eu recebi seu audio, mas nao consegui transcrever automaticamente. Pode me enviar em texto ou um audio mais curto?` }}",
              "type": "string"
            },
            {
              "name": "dynamic_delay_seconds",
              "value": "3",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set_audio_fallback",
      "name": "Set Audio Fallback Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        340
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.dynamic_delay_seconds || 3 }}",
        "unit": "seconds"
      },
      "id": "wait_audio_fallback",
      "name": "Wait Audio Fallback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -540,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_BASE_URL || 'https://evolution.virtuagil.com.br') + '/message/sendText/' + ($env.EVOLUTION_INSTANCE || 'Virtuagil%20Atendimento') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Normalize Input').item.json.lead_phone, text: $json.assistant_reply } }}",
        "options": {}
      },
      "id": "send_audio_fallback",
      "name": "Send Audio Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -300,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image_url_ok",
              "leftValue": "={{ $json.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_image_url",
      "name": "IF Image URL Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.JADE_VISION_MODEL || 'gpt-4.1-mini', temperature: 0.1, messages: [ { role: 'system', content: 'Descreva objetivamente a imagem em portugues para contexto de atendimento comercial da Virtuagil em no maximo 2 frases.' }, { role: 'user', content: [ { type: 'text', text: 'Descreva esta imagem e o que parece ser a intencao da pergunta do cliente.' }, { type: 'image_url', image_url: { url: $('Normalize Input').item.json.image_url } } ] } ] } }}",
        "options": {}
      },
      "id": "openai_image_analysis",
      "name": "OpenAI Analyze Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -780,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.choices?.[0]?.message?.content || ''; const merged = text ? `imagem: ${text}` : $('Normalize Input').item.json.incoming_text; return { incoming_text: merged };"
      },
      "id": "code_image_to_text",
      "name": "Image To Text Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "assistant_reply",
              "value": "={{ `Oi ${$json.lead_name}, recebi sua imagem mas nao consegui processar agora. Pode me mandar um texto curto explicando o que voce precisa?` }}",
              "type": "string"
            },
            {
              "name": "dynamic_delay_seconds",
              "value": "3",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set_image_fallback",
      "name": "Set Image Fallback Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        620
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.dynamic_delay_seconds || 3 }}",
        "unit": "seconds"
      },
      "id": "wait_image_fallback",
      "name": "Wait Image Fallback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -540,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_BASE_URL || 'https://evolution.virtuagil.com.br') + '/message/sendText/' + ($env.EVOLUTION_INSTANCE || 'Virtuagil%20Atendimento') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Normalize Input').item.json.lead_phone, text: $json.assistant_reply } }}",
        "options": {}
      },
      "id": "send_image_fallback",
      "name": "Send Image Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -300,
        620
      ]
    },
    {
      "parameters": {
        "content": "## 1) Entrada e Normalizacao\n- webhook inbound\n- padronizacao de payload\n- identificacao de tipo de mensagem",
        "height": 320,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        -40
      ],
      "typeVersion": 1,
      "id": "sticky_note_01_entrada",
      "name": "NOTE 01 - Entrada"
    },
    {
      "parameters": {
        "content": "## 2) Guardrails iniciais\n- ignora mensagens de grupo\n- bloqueio de video\n- evita respostas indevidas",
        "height": 420,
        "width": 620,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1530,
        -300
      ],
      "typeVersion": 1,
      "id": "sticky_note_02_guardrails",
      "name": "NOTE 02 - Guardrails"
    },
    {
      "parameters": {
        "content": "## 3) Roteamento multimodal\n- Switch por tipo: texto/audio/imagem/video\n- audio: usa transcript quando existir\n- imagem: tenta analise via OpenAI Vision\n- fallback de cada tipo quando faltar contexto",
        "height": 700,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        120
      ],
      "typeVersion": 1,
      "id": "sticky_note_03_multimodal",
      "name": "NOTE 03 - Multimodal"
    },
    {
      "parameters": {
        "content": "## 4) Buffer e agrupamento\n- push/get/delete no Redis\n- janela curta para unir mensagens quebradas\n- reduz respostas fragmentadas",
        "height": 260,
        "width": 1120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1250,
        180
      ],
      "typeVersion": 1,
      "id": "sticky_note_04_buffer_redis",
      "name": "NOTE 04 - Buffer Redis"
    },
    {
      "parameters": {
        "content": "## 5) Contexto de cliente e conversa\n- lookup cliente no Supabase\n- upsert contato\n- upsert conversa\n- recuperar conversation_id",
        "height": 280,
        "width": 1220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -90,
        160
      ],
      "typeVersion": 1,
      "id": "sticky_note_05_contexto_cliente",
      "name": "NOTE 05 - Contexto Cliente"
    },
    {
      "parameters": {
        "content": "## 6) Memoria e conhecimento\n- recupera historico recente no Supabase\n- busca contexto no gateway de Google Docs",
        "height": 260,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        160
      ],
      "typeVersion": 1,
      "id": "sticky_note_06_memoria_docs",
      "name": "NOTE 06 - Memoria + Docs"
    },
    {
      "parameters": {
        "content": "## 7) Orquestrador e Subagentes\n- classifica rota\n- sales / followup / human_support\n- resposta curta e estruturada",
        "height": 260,
        "width": 760,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        140
      ],
      "typeVersion": 1,
      "id": "sticky_note_07_orquestrador_ia",
      "name": "NOTE 07 - Orquestrador IA"
    },
    {
      "parameters": {
        "content": "## 8) Operacao final\n- handoff humano\n- fila de follow-up\n- delay dinamico\n- envio WhatsApp\n- persistencia de mensagens",
        "height": 760,
        "width": 1400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3080,
        60
      ],
      "typeVersion": 1,
      "id": "sticky_note_08_saida_e_crm",
      "name": "NOTE 08 - Saida e CRM"
    },
    {
      "parameters": {
        "content": "## Legenda de Cores\\n- Entrada/Saida: amarelo\\n- Guardrails: vermelho\\n- Multimodal: roxo\\n- Redis Buffer: ciano\\n- Dados (Supabase/Docs): verde\\n- IA (orquestrador/subagentes): azul",
        "height": 260,
        "width": 520,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        -360
      ],
      "typeVersion": 1,
      "id": "sticky_note_00_legenda_visual",
      "name": "NOTE 00 - Legenda Visual"
    }
  ],
  "connections": {
    "Webhook Jade Inbound": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "IF Group Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Video": {
      "main": [
        [
          {
            "node": "Set Video Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Reply": {
      "main": [
        [
          {
            "node": "Wait Video Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Video Delay": {
      "main": [
        [
          {
            "node": "Send Video Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Buffer Push": {
      "main": [
        [
          {
            "node": "Wait Buffer Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Buffer Window": {
      "main": [
        [
          {
            "node": "Redis Buffer Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Buffer Get": {
      "main": [
        [
          {
            "node": "Merge Buffered Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Buffered Messages": {
      "main": [
        [
          {
            "node": "Redis Buffer Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Buffer Delete": {
      "main": [
        [
          {
            "node": "Supabase Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Lookup Client": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Supabase Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Contact": {
      "main": [
        [
          {
            "node": "Supabase Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Conversation": {
      "main": [
        [
          {
            "node": "Supabase Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get Conversation": {
      "main": [
        [
          {
            "node": "Set Conversation Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conversation Id": {
      "main": [
        [
          {
            "node": "Supabase Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get Memory": {
      "main": [
        [
          {
            "node": "Get Doc Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc Context": {
      "main": [
        [
          {
            "node": "OpenAI Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Orchestrator": {
      "main": [
        [
          {
            "node": "Parse Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Orchestrator": {
      "main": [
        [
          {
            "node": "Route SubAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route SubAgent": {
      "main": [
        [
          {
            "node": "SubAgent Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SubAgent FollowUp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SubAgent HumanSupport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubAgent Sales": {
      "main": [
        [
          {
            "node": "Finalize Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubAgent FollowUp": {
      "main": [
        [
          {
            "node": "Finalize Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubAgent HumanSupport": {
      "main": [
        [
          {
            "node": "Finalize Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Reply": {
      "main": [
        [
          {
            "node": "IF Need Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Need Handoff": {
      "main": [
        [
          {
            "node": "Supabase Save Handoff",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Need FollowUp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Need FollowUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Need FollowUp": {
      "main": [
        [
          {
            "node": "Supabase Save FollowUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait Dynamic Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Dynamic Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Dynamic Delay": {
      "main": [
        [
          {
            "node": "Send WhatsApp Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Final": {
      "main": [
        [
          {
            "node": "Supabase Save User Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Save User Msg": {
      "main": [
        [
          {
            "node": "Supabase Save Assistant Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Group Message": {
      "main": [
        [
          {
            "node": "Ignore Group Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Message Type": {
      "main": [
        [
          {
            "node": "Redis Buffer Push",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Audio Transcript Present",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Image URL Present",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Video Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Transcript Present": {
      "main": [
        [
          {
            "node": "Set Audio As Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Audio Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio As Text": {
      "main": [
        [
          {
            "node": "Redis Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Fallback Reply": {
      "main": [
        [
          {
            "node": "Wait Audio Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Audio Fallback": {
      "main": [
        [
          {
            "node": "Send Audio Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image URL Present": {
      "main": [
        [
          {
            "node": "OpenAI Analyze Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analyze Image": {
      "main": [
        [
          {
            "node": "Image To Text Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image To Text Context": {
      "main": [
        [
          {
            "node": "Redis Buffer Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Fallback Reply": {
      "main": [
        [
          {
            "node": "Wait Image Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Image Fallback": {
      "main": [
        [
          {
            "node": "Send Image Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}